In [1]:
import pandas as pd

In [2]:
file1 = pd.read_csv("./Resources/201701-citibike-tripdata.csv")

In [3]:
file1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [8]:
file2 = pd.read_csv("./Resources/201702-citibike-tripdata.csv", header=False)
file3 = pd.read_csv("./Resources/201703-citibike-tripdata.csv", header=False)
file4 = pd.read_csv("./Resources/201704-citibike-tripdata.csv", header=False)
file5 = pd.read_csv("./Resources/201705-citibike-tripdata.csv", header=False)
file6 = pd.read_csv("./Resources/201706-citibike-tripdata.csv", header=False)
file7 = pd.read_csv("./Resources/201707-citibike-tripdata.csv", header=False)
file8 = pd.read_csv("./Resources/201708-citibike-tripdata.csv", header=False)
file9 = pd.read_csv("./Resources/201709-citibike-tripdata.csv", header=False)
file10 = pd.read_csv("./Resources/201710-citibike-tripdata.csv", header=False)
file11 = pd.read_csv("./Resources/201711-citibike-tripdata.csv", header=False)
file12 = pd.read_csv("./Resources/201712-citibike-tripdata.csv", header=False)

In [27]:
filelist = [file1, file2, file3, file4, file5, file6, file7, file8, file9, file10, file11, file12]
ultimate_file = pd.concat(filelist)
ultimate_file.columns = ["Trip Duration", "Start Time", "Stop Time", "Start Station ID", "Start Sation Name", "Start Station Latitude", "Start Station Longitude", "Bike ID", "User Type", "Birth Year", "Gender"]
ultimate_file.head()

ValueError: Length mismatch: Expected axis has 30 elements, new values have 11 elements